.btn {
  padding: 14px 0;
  border-radius: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.btnGreen {
  color: #fcfcfc;
  background: #85aa9f;
  border: 1px solid rgba(252, 252, 252, 0.4);
}

.btnSubmitWhite {
  color: #121417;
  background: #fcfcfc;
}

.btnCancelWhite {
  color: #85aa9f;
  background: #fcfcfc;
  border: 1px solid #85aa9f;
}

.btnWidth_245 {
  width: 245px;
}

.btnWidth_203 {
  width: 203px;
}
.btnWidth_215 {
  width: 215px;
}
