@import "../../css/mixins.scss";

.logFormContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 32px 16px 57px 16px;

  border-radius: 25px 25px 0px 0px;
  background-color: var(--bcgGreen);
}

.logFormTextBox {
  font-size: 14px;
  font-weight: 400;

  @include tablet {
    text-align: start;
    margin-bottom: 24px;

    font-size: 18px;
    font-weight: 500;
  }
}

.logFormTitle {
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 600;
  line-height: calc(32 / 30);
  letter-spacing: -0.6px;
}

.logFormDiscr {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 16);
  color: var(--mainGrey);
}

.logFormBox {
  display: flex;

  width: 100%;
  flex-direction: column;
  gap: 14px;
}

.logFormField {
  font-size: 16px;

  font-weight: 400;
  line-height: calc(24 / 16);
  padding: 16px 18px;

  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(18, 20, 23, 0.1);
}

.logFormPassword {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.logFormEye {
  position: absolute;
  top: 18px;
  right: 18px;
}

.logFormLinkBtn {
  padding: 16px;
  border-radius: 30px;
  margin-top: 18px;

  font-size: 16px;
  font-weight: 700;
  line-height: calc(24 / 16);
  background-color: var(--accentGreen);
  color: var(--btnWhite);
}

.logFormLink {
  color: rgba(18, 20, 23, 0.5);
  font-size: 16px;
  font-weight: 700;
  line-height: calc(24 / 16);
}

.messageError {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(18 / 12);
  letter-spacing: 0.12px;
  color: #d80027;
}

.messageSuccess {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(18 / 12);
  letter-spacing: 0.12px;
  color: rgba(60, 191, 97, 1);
}
